/* common styles */
body {
        font-family: 'Open Sans', sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings:wdth 100;     
}

.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 18px 30px;

}

header{
    background-color: #FFF8F3;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    /* background-image: url('/images/developer.png'); */

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;

}

ul li{
    display: inline;
    margin-right: 50px;
    align-items: center;
}

ul a{
    text-decoration: none;
    color: black;
}

.nav-title{
    font-weight: bolder;
    font-size: 45px;
}

/* nav related styles */
.Mary {
    color: #FD6E0A;
}

/* banner styles */

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-container{
    max-width: 500px;
}

.grettings{
    font-size: 45px;
    font-weight:lighter;
    margin-bottom: 0;
}

.mary-hardly{
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 18px;
    color: darkcyan;
    margin-top: 0px;
}

.profile-pic{
    width: 500px;
}
/* about section styles */

.about{
    text-align: center;
    padding: 130px;
    background-color: #FFF8F3;
    margin: 130px 0;
   
}

.about-title{
    font-weight: bold;
    font-size: 35px;
}

.about-description{
    font-size: 18px;
    color: darkgray;
    margin-bottom: 30px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container{
    display: flex;
    justify-content: space-between;
}

.about-section-title{
    font-size: 20px;
    color: darkcyan;
}